/*Add CSS styles here*/

.axis path,
.axis line {
    fill: gray;
    stroke: black;
    stroke-width: 1px;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 0.9em;
}

.title {
    font-family: sans-serif;
    font-size: 1.5em;
    font-weight: bold;
}

.gratLines {
    fill: none;
    stroke: #999;
    stroke-width: 1px;
}

.gratBackground gratBackground{
    fill: #1f3b74;
}

.map {
    border: medium solid #999;
}
